.SecHome{
    background: rgb(2,0,29);
    margin-top: -102px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Home{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 10px;
}
.AvatarMe{
    width: 400px;
    height: 300px;
    border: 5px solid rgba(0, 30, 180, 1);
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.AvatarMe::selection{
    background-color: transparent;
}
.HomeTextCont{
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    margin: auto;
}
.HomeText{
    margin: auto;
}
.HomeText > span{
    font-size: 2.2em;
    background-image: linear-gradient(rgb(3, 90, 230) 30%, rgb(37, 157, 255) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
    .SecHome{
        max-height: 750px;
    }
    
   .HomeImg{
       width: 100%;
       display: flex;
       justify-content: center;
   }
   .AvatarMe{
    width: 230px;
    height: 230px;
    }
    .HomeText{
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px) {
    .HomeText{
        font-size: 1em;
    }
    .HomeText > span{
        font-size: 3em;
    }
}
@media screen and (max-width: 400px) {
    .HomeText{
        font-size: 0.8em;
    }
    .HomeText > span{
        font-size: 3em;
    }
    .AvatarMe{
        width: 200px;
        height: 200px;
        }
}
@media screen and (min-width: 920px) {

    .HomeText > span{
       font-size: 3em;
    }
}    