.Skills{
    padding: 50px 0px;
    padding-bottom: 200px;
}
.SkillsTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.SkillsContText{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-right: 50px;
}
.SkillsCont{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 50%;
}
.SkillsIconCont > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px 50px;
}
.SkillsIconCont > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SkillsIconCont > ul > li > div {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s;
}
.SkillsIconCont > ul > li > div:hover {
    transform: scale(1.1);
}
.SkillsIconCont > ul > li > div > svg {
    width: 60px;
    height: 60px;
}
.SkillsIconCont > ul > li > div > span {
    font-size: 13px;
    display: block;
}
@media screen and (max-width: 768px) {
    .SkillsTitle{
        margin-bottom: 0px;
    }
    .SkillsCont{
        display: block;
        width: 90%;
        margin: auto;
    }
    .SkillsContText{
        margin-bottom: 50px;
        padding-right: 0px;
    }
    .SkillsIconCont > ul {
        justify-content: center;
    }
}