.Projects{
    position: relative;
    padding: 50px 0px;
}
.ProjectsTitle{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 20px;
}
.ProjectsSlider{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 1500px;
}
.ProjectsItems{
    display: none;
    grid-template-columns: 40% 60%;
}
.ProjectInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ProjectInfo > h3 {
    margin: 0;
}
.TechnologiesIconCont{
    margin-top: 50px;
}
.TechnologiesIconCont > ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 10px;
}
.TechnologiesIconCont > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TechnologiesIconCont > ul > li > div {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.1s;
}
.TechnologiesIconCont > ul > li > div:hover {
    transform: scale(1.1);
}
.TechnologiesIconCont > ul > li > div > img {
    width: 50px;
    height: 50px;
}
.TechnologiesIconCont > ul > li > div > span {
    font-size: 13px;
    display: block;
}
.Active{
    background-color: red;
}
.ContDirectProjectChange{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}
.DirectProjectChange{
    width: 15px;
    display: flex;
    align-items: center;
}
.BarProject{
    width: 100%;
    cursor: pointer;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.607);
    border-radius: 50%;
}
.ContProjectsImage{
    display: flex;
    justify-content: center;
}
.ProjectsImage{
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.1s;
}
.ProjectsImage:hover{
    transform: scale(1.01);
}
.ProjectName{
    font-size: 20px;
}
.ProjectSource{
    color: #0f0096;
    display: inline-block;
}
.ContTechnologies{
    display: flex;
}

.ProjectsChanges{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.ProjectsArrow{
    display: flex;
    gap: 10px;
}
.BtnNextProject{
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BtnNextProject:hover{
    background: #0000001e;
}
.BtnNextProject > svg {
    fill: black;
}
.Active{
    background:#0f0096;
}
.BtnNextProject:nth-child(1){
    transform: rotate(180deg);
}
.none{
    display: none;
    visibility: hidden;
    transition: visibility 2s;
}
.visible{
    display: grid;
    animation: vie 500ms ease;
}
@keyframes vie{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@media screen and (min-width: 768px){
    
}
@media screen and (max-width: 768px){
    .ProjectsSlider{
        width: 95%;
    }
    .ProjectsItems{
        grid-template-columns: auto;
    }
    .ProjectInfo{
        min-height: 0px;
    }
    .TechnologiesIconCont{
        margin-top: 20px;
    }
    .TechnologiesIconCont > ul > li > div > img {
        width: 30px;
        height: 30px;
    }
    .ProjectsChanges{
        
        margin: auto;
    }
}