@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100vh;
}
nav{
  margin: 0;
 
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
